[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83
    G1 E10 F300
    G1 E-780 F1800
    M82

[gcode_macro LOAD_FILAMENT]
gcode:
    M83
    G1 E750 F1800
    G1 E30 F300
    G1 E15 F150
    M82

[gcode_macro G32]
gcode:
    G28
    QUAD_GANTRY_LEVEL
    QUAD_GANTRY_LEVEL
    G0 X125 Y125 Z20 F6000

##############################################
[gcode_macro PID_E]

gcode:

    PID_CALIBRATE HEATER=extruder TARGET=210
    TURN_OFF_HEATERS
    SAVE_CONFIG
 


##############################################
[gcode_macro PID_BED]

gcode:

    PID_CALIBRATE HEATER=heater_bed TARGET=50
    TURN_OFF_HEATERS
    SAVE_CONFIG

#####################################################################
#  Custom Homing Macros
#####################################################################

[gcode_macro HOME_X_MOVE]
gcode:
    G28 X
    G0 X100 F6000

[gcode_macro HOME_Y_MOVE]
gcode:
    G28 Y
    G0 Y100 F6000

[gcode_macro HOME_ALL_CUSTOM]
gcode:
    G90

    # Home X then move to 100
    HOME_X_MOVE

    # Home Y then move to 100
    HOME_Y_MOVE

    # Move to center for Z probing
    G0 X125 Y125 F6000

    # Home Z using Cartographer
    G28 Z
    G0 Z10 F1800

#####################################################################
#  Neopixel
#####################################################################

[gcode_macro LED_IDLE]
gcode:
    {% for i in range(0, 40) %}
        {% set b = (i / 40) %}
        SET_LED LED=my_led RED=0 GREEN=0 BLUE={b}
        G4 P30
    {% endfor %}
    {% for i in range(40, -1, -1) %}
        {% set b = (i / 40) %}
        SET_LED LED=my_led RED=0 GREEN=0 BLUE={b}
        G4 P30
    {% endfor %}


[gcode_macro LED_READY]
gcode:
    SET_LED LED=my_led RED=0.6 GREEN=0.6 BLUE=0.6

[gcode_macro LED_PRINTING]
gcode:
    {% for i in range(0, 15) %}
        SET_LED LED=my_led INDEX={i+1} RED=0 GREEN=0.6 BLUE=1
        G4 P20
    {% endfor %}

[gcode_macro LED_HOTEND]
gcode:
    {% set t = printer.extruder.temperature %}
    {% set max = 240 %}
    {% set ratio = t / max %}

    {% if ratio > 1 %}
        {% set ratio = 1 %}
    {% endif %}

    SET_LED LED=my_led RED={ratio} GREEN=0.2 BLUE={1 - ratio}

[gcode_macro LED_ERROR]
gcode:
    {% for i in range(0, 6) %}
        SET_LED LED=my_led RED=1 GREEN=0 BLUE=0
        G4 P200
        SET_LED LED=my_led RED=0 GREEN=0 BLUE=0
        G4 P200
    {% endfor %}

[delayed_gcode LED_STARTUP]
initial_duration: 2
gcode:
    {% for i in range(0, 20) %}
        {% set v = i/20 %}
        SET_LED LED=my_led RED={v*0.6} GREEN={v*0.6} BLUE=1
        G4 P50
    {% endfor %}
    LED_IDLE

