[gcode_macro PRINT_START]
gcode:
    # --- Visual ---
    LED_PRINTING

    # --- Init ---
    M117 Initializing...
    SET_GCODE_OFFSET Z=0
    G90

    # --- Home X/Y ---
    M117 Homing X...
    HOME_X_MOVE

    M117 Homing Y...
    HOME_Y_MOVE

    # --- Bed already heating from slicer ---
    M117 Waiting Bed...
    M190 S{printer.heater_bed.target}

    # --- Gantry Level ---
    M117 Gantry Leveling...
    QUAD_GANTRY_LEVEL

    # --- Keep nozzle safe (prevent ooze mess) ---
    M117 Stabilizing Nozzle...
    M109 S150

    # --- Z Home (Cartographer) ---
    M117 Z Homing...
    CARTOGRAPHER_TOUCH_HOME

    # --- Safe Z move ---
    G1 Z20 F3000

    # --- Bed Mesh ---
    M117 Bed Meshing...
    BED_MESH_CALIBRATE ADAPTIVE=1

    # --- Restore final nozzle temp from slicer ---
    M117 Final Heating...
    M109 S{printer.extruder.target}

    # --- Move to start ---
    M117 Positioning...
    G1 Z5 F3000
    G1 X5 Y5 F5000

    # --- Prime ---
    M117 Priming...
    G92 E0
    G1 Z0.28
    G1 X200 E15 F1500
    G1 X220 F5000
    G92 E0

    # --- Start ---
    M117 Printing...